@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  transition: 700ms ;
}

.txt-transparent-hero{
  -webkit-text-stroke-width:2.4px ;
  -webkit-text-stroke-color: black ;
}

#Hero {
  font-family: 'Shrikhand', system-ui;
  font-weight: 800;
  margin-bottom: 22rem;
}

@media screen and (max-width:1227px) {
  #Hero {
    margin-left: 10rem;
  }
}

@media screen and (max-width:900px) {
  #Hero {
    margin-left: 5rem;
  }
}

@media screen and (max-width:790px) {
  #Hero {
    margin-left: 2rem;
  }
}

@media screen and (max-width:670px) {
  #Hero #bigImg {
    margin-top: 2rem;
    width: 300px;
  }

  #Hero #bgImgsHero {
    width: 400px;
  }

  #Hero #bgImgsHero {
    width: 400px;
  }

  #textHero,
  #postHero {
    margin-inline: 1rem;
  }

  #Hero {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width:460px) {
  #container-imgs-hero {
    margin-top: 4rem;
    display: grid;
  }

  #bgImgsHero {
    display: none;
  }

  #postHero {
    width: 300px;
    gap: 5rem;
  }


  #postHero img {
    max-width: 280px;
  }

  #postHero .postheroimg2 {
    height: 280px;
  }

  #Hero {
    margin-left: .5rem;
  }

}

@media screen and (max-width:980px) {

  #postHero .first-container,
  #postHero .second-container {
    flex-direction: column;
  }

}